*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-color);
  font-family: "Roboto", Tahoma, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1245px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1245px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

:root {
  --body-color: #1d1d1d;
  --main-color: #f1f1f1;
  --dropdown-menu-color: #ffffff;
  --secondary-color: #bdbdbd;
  --accent-color: #29aae1;
  --form-inputs-color: #464646;
  --swiper-arrow-color: #ff1616;
  --swiper-navigation-color: #ff1616;
  --swiper-pagination-color: #8e8e8e;
  --swiper-pagination-active-color: #ffffff;
}

.heading-2 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .heading-2 {
    font-size: 32px;
    line-height: 1.18;
  }
}

@media (min-width: 1245px) {
  .heading-2 {
    font-size: 52px;
    line-height: 1.17;
  }
}

.heading-1 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 32px;
    line-height: 1.18;
  }
}

@media (min-width: 1245px) {
  .heading-1 {
    font-size: 60px;
    line-height: 1.16;
  }
}

.button-disabled {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: none;
  cursor: pointer;
  color: black;
}

.button-disabled:before {
  content: "";
  position: absolute;
  width: 160px;
  height: 40px;
  left: -7px;
  top: 8px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  z-index: -1;
}

@media (min-width: 768px) {
  .button-disabled {
    width: 200px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
  }
  .button-disabled:before {
    width: 200px;
    height: 52px;
  }
  .button-disabled:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .button-disabled:hover:before {
    border: 2px solid var(--main-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

.button-active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  color: black;
}

.button-active:before {
  content: "";
  position: absolute;
  width: 160px;
  height: 40px;
  left: -7px;
  top: 8px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  z-index: -1;
}

@media (min-width: 768px) {
  .button-active {
    width: 200px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
  }
  .button-active:before {
    width: 200px;
    height: 52px;
  }
  .button-active:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .button-active:hover:before {
    border: 2px solid var(--accent-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

.card-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  margin-top: auto;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  background: var(--body-color);
  color: var(--main-color);
}

.card-button:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-button::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 40px;
  left: -7px;
  top: 8px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  z-index: -1;
}

@media (min-width: 768px) {
  .card-button {
    width: 180px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
    background: var(--body-color);
    color: var(--main-color);
  }
  .card-button:before {
    left: -7px;
    top: 8px;
    width: 180px;
    height: 52px;
    border: 1px solid var(--main-color);
  }
}

@media (min-width: 1245px) {
  .card-button {
    width: 200px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
    background: var(--body-color);
    color: var(--main-color);
  }
  .card-button:before {
    left: -7px;
    top: 8px;
    width: 200px;
    height: 52px;
    border: 1px solid var(--main-color);
  }
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  background: #1d1d1d8c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-hidden {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-wrapper {
  position: relative;
  padding: 100px 50px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--body-color);
  overflow: auto;
}

@media (min-width: 768px) {
  .menu-wrapper {
    max-width: 620px;
    padding: 180px 90px;
  }
}

.burger-icon {
  width: 28px;
  height: 24px;
}

@media (min-width: 768px) {
  .burger-icon {
    width: 36px;
    height: 30px;
  }
}

@media (min-width: 1245px) {
  .burger-icon {
    width: 48px;
    height: 40px;
  }
}

.close-menu__btn {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .close-menu__btn {
    top: 20px;
    left: 20px;
  }
}

.close-icon {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .close-icon {
    width: 50px;
    height: 50px;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
}

.menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--main-color);
}

.menu-list__item:hover {
  color: var(--accent-color);
}

.menu-list__item:hover .menu-list__btn {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-list__item {
    font-size: 40px;
    line-height: 1.17;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.main:hover .menu-list__btn--develop {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .main {
    font-size: 40px;
    line-height: 1.17;
  }
}

.menu-list__link {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .menu-list__link {
    font-size: 40px;
    line-height: 1.17;
  }
}

.menu-list__link:hover {
  color: var(--accent-color);
}

.products-list {
  gap: 12px;
}

.products-link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .products-link {
    font-size: 28px;
    line-height: 1.4;
    color: var(--main-color);
  }
}

.products-link:hover {
  color: var(--accent-color);
}

.menu-list__btn {
  width: 20px;
  height: 10px;
  cursor: pointer;
  fill: var(--main-color);
}

@media (min-width: 768px) {
  .menu-list__btn {
    width: 30px;
    height: 16px;
  }
}

.menu-list__btn:hover {
  fill: var(--accent-color);
}

.menu-list__btn--develop {
  width: 20px;
  height: 10px;
  cursor: pointer;
  fill: var(--main-color);
}

@media (min-width: 768px) {
  .menu-list__btn--develop {
    width: 30px;
    height: 16px;
  }
}

.menu-list__btn--develop:hover {
  fill: var(--accent-color);
}

.menu-dropdown__btn.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  fill: var(--accent-color);
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.off {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
  display: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--body-color);
  z-index: 400;
}

.active {
  color: var(--accent-color);
}

.fill {
  fill: var(--accent-color);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 1245px) {
  .mobile-header__wrapper {
    display: none;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header-button {
    width: 48px;
    height: 40px;
  }
}

.logo-image {
  width: 32px;
  height: 40px;
}

@media (min-width: 768px) {
  .logo-image {
    width: 72px;
    height: 65px;
  }
}

@media (max-width: 319px) {
  .descktop-header__wrapper {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1244px) {
  .descktop-header__wrapper {
    display: none;
  }
}

.header-container__descktop {
  padding-top: 12px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.menu-dropdown__btn {
  cursor: pointer;
  fill: white;
}

.menu-dropdown__btn:hover {
  fill: var(--accent-color);
}

.dropdown-menu {
  margin-left: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 72px;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px;
  color: var(--dropdown-menu-color);
}

.main-wrapper.active {
  color: var(--accent-color);
}

.main-wrapper:hover .menu-dropdown__btn {
  fill: var(--accent-color);
}

.main-columm {
  position: relative;
}

.menu-item__list {
  position: absolute;
  top: 40px;
  left: -12px;
}

.dropdown-title {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: inherit;
}

.dropdown-title:hover {
  color: var(--accent-color);
}

.list-item__drop > a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: var(--dropdown-menu-color);
}

.list-item__drop > a:hover {
  color: var(--accent-color);
}

.menu-item__list {
  width: 245px;
  height: 300px;
  padding: 12px;
  background-color: var(--body-color);
}

.list-item__drop {
  margin-bottom: 40px;
}

.list-item__drop:last-child {
  margin-bottom: 0;
}

.menu-item > a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: var(--dropdown-menu-color);
}

.menu-item > a:hover {
  color: var(--accent-color);
}

.hero-content {
  padding-top: 20px;
  padding-bottom: 500px;
  background-image: url("../images/hero/hero-bgimage.svg");
  background-repeat: no-repeat;
  background-size: 375px 478px;
  background-position: 0 325px;
}

@media (min-width: 768px) {
  .hero-content {
    padding-top: 120px;
    padding-bottom: 173px;
    background-position: 100% center;
  }
}

@media (min-width: 1245px) {
  .hero-content {
    padding-top: 120px;
    padding-bottom: 173px;
    background-position: 95%;
    background-size: 620px 790px;
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .hero-container {
    position: relative;
  }
}

.main-description__about {
  max-width: 696px;
}

.main-text__bottom {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .main-text__bottom {
    max-width: 352px;
    font-size: 14px;
  }
}

@media (min-width: 1245px) {
  .main-text__bottom {
    font-size: 20px;
    width: 350px;
  }
}

.main-text {
  margin-top: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .main-text {
    max-width: 352px;
    font-size: 14px;
  }
}

@media (min-width: 1245px) {
  .main-text {
    font-size: 20px;
  }
}

.main-description__links {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .main-description__links {
    margin-top: 40px;
  }
}

.main-description__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 1245px) {
  .main-description__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.main-description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 4px;
  gap: 20px;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

@media (min-width: 768px) {
  .main-description__wrapper {
    margin-top: 12px;
    gap: 20px;
  }
}

@media (min-width: 1245px) {
  .main-description__wrapper {
    gap: 32px;
  }
}

.links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.description-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.18;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .description-title {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media (min-width: 1245px) {
  .description-title {
    font-size: 20px;
    line-height: 1.4;
  }
}

.description-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 9px;
  line-height: 1.2;
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .description-text {
    font-size: 12px;
    line-height: 1.4;
  }
}

.hero-image {
  position: absolute;
  top: 60px;
  right: 50px;
  max-width: 620px;
  height: 790px;
}

.pro-container {
  position: relative;
}

.section-projects,
.section-news {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .section-projects,
  .section-news {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

.section-news {
  padding-top: 0;
}

.projects-title,
.news-title {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .projects-title,
  .news-title {
    margin-bottom: 16px;
  }
}

@media (min-width: 1245px) {
  .projects-title,
  .news-title {
    margin-bottom: 40px;
  }
}

.card-main__text {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  color: var(--body-color);
}

@media (min-width: 768px) {
  .card-main__text {
    font-size: 28px;
  }
}

@media (min-width: 1245px) {
  .card-main__text {
    font-size: 32px;
    line-height: 1.18;
  }
}

.card-main__text--white {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .card-main__text--white {
    font-size: 28px;
  }
}

@media (min-width: 1245px) {
  .card-main__text--white {
    font-size: 32px;
    line-height: 1.18;
  }
}

.card-list__text {
  margin-top: 20px;
}

.card-text__item {
  margin-top: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--body-color);
}

.card-text__item--white-text {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.swiper-slide {
  -webkit-transition: 1s;
  transition: 1s;
}

.swiper-slide-active {
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1245px) {
  .swiper-slide-active {
    position: absolute;
    top: -50px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.swiper-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 300px;
  height: 400px;
}

@media (min-width: 768px) {
  .slider-descktop__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.slider-__container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .swiper-wrapper .swiper-slide {
    height: 380px;
    opacity: 0.5;
  }
}

@media (min-width: 1245px) {
  .swiper-wrapper .swiper-slide {
    height: 480px;
    opacity: 1;
  }
}

.mobile {
  padding: 20px 30px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .slider-descktop__container .swiper .swiper-wrapper .swiper-slide-active {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 20;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  margin: 5px 8px !important;
  width: 12px;
  height: 12px;
  background-color: var(--swiper-pagination-color);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--swiper-pagination-active-color);
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .swiper-wrapper {
    height: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1245px) {
  .swiper-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 550px;
  }
}

.slider-descktop__container .swiper {
  position: relative;
}

@media (min-width: 1245px) {
  .slider-descktop__container .swiper {
    padding: 0 35px;
  }
}

.swiper-button-prev.arrow {
  position: absolute;
}

@media (min-width: 1245px) {
  .swiper-button-prev.arrow {
    left: -17px;
    margin-top: 0px;
    width: 60px;
    height: 60px;
  }
}

.swiper-button-next.arrow {
  position: absolute;
}

@media (min-width: 1245px) {
  .swiper-button-next.arrow {
    top: 50%;
    right: -17px;
    margin-top: 0px;
    width: 60px;
    height: 60px;
  }
}

.slide-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#55b7e1),
      to(rgba(56, 163, 208, 0.1))
    ),
    url("../images/swiper/slider-1.png");
  background-image: linear-gradient(
      180deg,
      #55b7e1 0%,
      rgba(56, 163, 208, 0.1) 100%
    ),
    url("../images/swiper/slider-1.png");
}

@media (min-width: 768px) {
  .slide-1 {
    padding: 20px;
  }
}

@media (min-width: 1245px) {
  .slide-1 {
    padding: 40px;
  }
}

.slide-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #2d2d2d;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .slide-2 {
    padding: 20px;
  }
}

@media (min-width: 1245px) {
  .slide-2 {
    padding: 40px;
  }
}

.slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#49af2f),
      to(rgba(87, 202, 59, 0.1))
    ),
    url("../images/swiper/slider-3.png");
  background-image: linear-gradient(
      180deg,
      #49af2f 0%,
      rgba(87, 202, 59, 0.1) 100%
    ),
    url("../images/swiper/slider-3.png");
}

@media (min-width: 768px) {
  .slide-3 {
    padding: 20px;
  }
}

@media (min-width: 1245px) {
  .slide-3 {
    padding: 40px;
  }
}

.slide-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff5625),
      to(rgba(255, 86, 37, 0.1))
    ),
    url("../images/swiper/slider-4.png");
  background-image: linear-gradient(
      180deg,
      #ff5625 0%,
      rgba(255, 86, 37, 0.1) 100%
    ),
    url("../images/swiper/slider-4.png");
}

@media (min-width: 768px) {
  .slide-4 {
    padding: 20px;
  }
}

@media (min-width: 1245px) {
  .slide-4 {
    padding: 40px;
  }
}

.slide-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#2dc5e7),
      to(rgba(45, 197, 231, 0.1))
    ),
    url("../images/swiper/slider-5.png");
  background-image: linear-gradient(
      180deg,
      #2dc5e7 0%,
      rgba(45, 197, 231, 0.1) 100%
    ),
    url("../images/swiper/slider-5.png");
}

@media (min-width: 768px) {
  .slide-5 {
    padding: 20px;
  }
}

@media (min-width: 1245px) {
  .slide-5 {
    padding: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1244px) {
  .section-news {
    display: none;
  }
}

.section-contacts {
  background-image: url("../../images/bg_map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 120px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .contacts-form__wrapper {
    margin-left: auto;
  }
}

.contacts-list {
  margin-top: 16px;
}

.contacts-list__item {
  margin-top: 8px;
  max-width: 370px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .contacts-list__item {
    margin-top: 14px;
  }
}

@media (min-width: 1245px) {
  .contacts-list__item {
    margin-top: 12px;
    font-size: 20px;
  }
}

.contacts-list__item > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);
}

@media (min-width: 1245px) {
  .contacts-list__item > a {
    font-size: 20px;
  }
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 488px;
  gap: 12px;
}

@media (min-width: 768px) {
  .contacts-form {
    gap: 16px;
  }
}

.contacts-form__text {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .contacts-form__text {
    margin-top: 0;
    font-size: 14px;
  }
}

@media (min-width: 1245px) {
  .contacts-form__text {
    font-size: 16px;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-input {
  padding: 0 10px;
  height: 40px;
  background-color: var(--form-inputs-color);
  border: none;
}

.form-input:focus {
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  .form-input {
    height: 32px;
  }
}

.form-input:not(:placeholder-shown),
.form-textarea:not(:placeholder-shown) {
  background: var(--main-color);
}

.form-textarea {
  overflow: auto;
  padding: 10px 10px;
  height: 100px;
  background-color: var(--form-inputs-color);
  border: none;
  resize: none;
}

.form-textarea:focus {
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  .form-textarea {
    height: 160px;
    margin-bottom: 32px;
  }
}

.heading-1 {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .heading-1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 1.16;
  }
}

.heading-2__logo {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .heading-2__logo {
    font-size: 52px;
    line-height: 1.17;
  }
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding-top: 20px;
  gap: 17px;
}

@media (min-width: 768px) {
  .section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 0;
    gap: 32px;
  }
}

.section-content__leftside {
  padding-top: 16px;
}

@media (min-width: 1245px) {
  .section-content__leftside {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.section-wrapper__secondary {
  padding-top: 20px;
  gap: 17px;
}

@media (min-width: 768px) {
  .section-wrapper__secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    padding-top: 80px;
    padding-bottom: 45px;
  }
}

.content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 592px;
}

.logo-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

@media (min-width: 768px) {
  .logo-preview {
    gap: 5px;
    margin-top: 0px;
  }
}

.logo-progect {
  width: 52px;
  height: 32px;
}

@media (min-width: 768px) {
  .logo-progect {
    width: 100px;
    height: 60px;
  }
}

.product-image {
  width: 100%;
  height: auto;
  display: none;
}

@media (min-width: 768px) {
  .product-image {
    display: block;
    max-width: 590px;
    height: auto;
  }
}

.content-text {
  display: block;
  overflow: auto;
  max-height: 400;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .content-text {
    max-width: 352px;
  }
}

@media (min-width: 1245px) {
  .content-text {
    max-width: 592px;
  }
}

.bottom {
  padding-bottom: 60px;
}

@media (min-width: 1245px) {
  .bottom {
    padding-top: 45px;
    padding-bottom: 120px;
  }
}

.docs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 80px;
}

.docs_wrapper .manual_instalation,
.docs_wrapper .eva_framework {
  padding: 20px;
  max-width: 592px;
  background: #1d1d1d;
  border: 1px solid #2d2d2d;
  -webkit-box-shadow: 0px 36px 75px rgba(6, 6, 6, 0.16);
  box-shadow: 0px 36px 75px rgba(6, 6, 6, 0.16);
  border-radius: 2px;
}

.docs_wrapper .manual_instalation h2,
.docs_wrapper .eva_framework h2 {
  color: var(--accent-color);
}

.docs_wrapper .manual_instalation .content-text,
.docs_wrapper .eva_framework .content-text {
  margin-bottom: 16px;
}

.docs_wrapper .manual_instalation .buttons,
.docs_wrapper .eva_framework .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.docs_wrapper .manual_instalation .buttons button,
.docs_wrapper .eva_framework .buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 15px;
  gap: 10px;
  width: 267px;
  height: 51px;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 2px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.docs_wrapper .manual_instalation .buttons button:last-child,
.docs_wrapper .eva_framework .buttons button:last-child {
  margin-bottom: 0;
}

.docs_wrapper .manual_instalation .buttons button:hover,
.docs_wrapper .eva_framework .buttons button:hover {
  color: white;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

@media (max-width: 768px) {
  .docs_wrapper .manual_instalation,
  .docs_wrapper .eva_framework {
    margin-bottom: 20px;
  }
}

.docs_wrapper .manual_instalation {
  margin-right: 32px;
}

@media (max-width: 768px) {
  .docs_wrapper .manual_instalation {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .docs_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.btn-wrapper button:first-child {
  margin-right: 32px;
}

@media (max-width: 768px) {
  .btn-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 1245px) {
  .btn-wrapper {
    margin-bottom: 20px;
  }
}

.eva_3 .section-content__leftside {
  margin-bottom: 220px;
}

.eva_3 .section-content__leftside .content-text {
  margin-bottom: 32px;
}

.ui_manager .section-content__leftside {
  margin-bottom: 220px;
}

.ui_manager .section-content__leftside .content-text {
  margin-bottom: 32px;
}

.ui_manager .btn-wrapper {
  margin-top: 0;
}

.psrt .section-content__leftside {
  margin-bottom: 220px;
}

@media screen and (min-width: 1244px) {
  .footer-mobile {
    display: none;
  }
}

.footer-nav__list {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .footer-nav__list {
    width: 200px;
  }
}

.footer-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2d2d2d;
}

@media (min-width: 768px) {
  .footer-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 150px;
    background-color: var(--body-color);
  }
}

@media (min-width: 1245px) {
  .footer-container {
    position: relative;
    gap: 345px;
  }
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer-nav__link:hover {
  color: var(--form-inputs-color);
}

.footer-nav__item > a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-transform: capitalize;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .footer-nav__item > a {
    font-size: 14px;
    line-height: 1.2;
  }
}

.contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact_wrapper .social-links__list {
  margin-bottom: 10px;
}

.social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media (min-width: 768px) {
  .social-links__list {
    gap: 16px;
  }
}

.footer-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

@media (min-width: 768px) {
  .footer-text {
    min-width: 180px;
    font-size: 14px;
  }
}

@media (min-width: 1245px) {
  .footer-text {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
}

@media (max-width: 319px) {
  .footer-desktop {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1244px) {
  .footer-desktop {
    display: none;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.desktop-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-home__item {
  margin-bottom: 12px;
}

.footer-home__item:last-child {
  margin-bottom: 0;
}

.footer-products__list {
  margin-left: 65px;
}

.footer-nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-projects__list {
  margin-left: 60px;
}

.footer-desktop__adress {
  margin-left: 65px;
}

.footer-mobile__address .footer-contacts__list .footer-contacts__item {
  margin: 0;
  margin-right: auto;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  text-align: right;
  padding-bottom: 3px;
}

.footer-mobile__address .footer-contacts__list .footer-contacts__item a {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

.social-links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-home__link {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--main-color);
}

.footer-home__link:hover {
  color: var(--form-inputs-color);
}

.adress-links,
.footer-contacts__item {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--main-color);
}

.footer-home__item {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--main-color);
}

.footer-contacts__item {
  margin-bottom: 12px;
  color: var(--main-color);
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.adress-links--tel {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--main-color);
}

.footer-contacts__list .footer-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.footer-contacts__list .reserved_rights {
  color: var(--secondary-color);
}
/*# sourceMappingURL=main.css.map */
