.section-contacts {
  background-image: url("../../images/bg_map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 120px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
.contacts-form__wrapper {
  // margin-right: auto;

  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.contacts-list {
  margin-top: 16px;
}
.contacts-list__item {
  margin-top: 8px;
  max-width: 370px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    margin-top: 14px;
  }

  @media (min-width: 1245px) {
    margin-top: 12px;
    font-size: 20px;
  }
}
.contacts-list__item > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 1245px) {
    font-size: 20px;
  }
}
.contacts-form {
  display: flex;
  flex-direction: column;

  max-width: 488px;
  gap: 12px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}
.contacts-form__text {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    margin-top: 0;
    font-size: 14px;
  }

  @media (min-width: 1245px) {
    font-size: 16px;
  }
}
.form-field {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 0 10px;
  height: 40px;
  background-color: var(--form-inputs-color);
  border: none;
  &:focus {
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    height: 32px;
  }
}

.form-input:not(:placeholder-shown),
.form-textarea:not(:placeholder-shown) {
  background: var(--main-color);
}

.form-textarea {
  overflow: auto;
  padding: 10px 10px;
  height: 100px;
  background-color: var(--form-inputs-color);
  border: none;
  resize: none;
  &:focus {
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    height: 160px;
    margin-bottom: 32px;
  }
}
