.header {
  position: sticky;
  top: 0;
  background-color: var(--body-color);
  z-index: 400;
}
.active {
  color: var(--accent-color);
}
.fill {
  fill: var(--accent-color);
  transform: rotate(180deg);
}

//========== mobile version ==========//
.mobile-header__wrapper {
  @media (min-width: 1245px) {
    display: none;
  }
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  @media (min-width: 768px) {
    width: 48px;
    height: 40px;
  }
}
.logo-image {
  width: 32px;
  height: 40px;
  @media (min-width: 768px) {
    width: 72px;
    height: 65px;
  }
}

//============ descktop version ============//
.descktop-header__wrapper {
  @media (max-width: 319px) {
    display: none;
  }
  @media screen and (min-width: 320px) and (max-width: 1244px) {
    display: none;
  }
}
.header-container__descktop {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: flex-end;
}

.menu-dropdown__btn {
  cursor: pointer;
  fill: white;
  &:hover {
    fill: var(--accent-color);
  }
}
.dropdown-menu {
  margin-left: 104px;
  display: flex;
  gap: 72px;
}
.main-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--dropdown-menu-color);
  &.active {
    color: var(--accent-color);
  }
}
.main-columm {
  position: relative;
}
.menu-item__list {
  position: absolute;
  top: 40px;
  left: -12px;
}
.dropdown-title {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: inherit;
  &:hover {
    color: var(--accent-color);
  }
  &:hover.menu-dropdown__btn {
    fill: var(--accent-color);
  }
}

.list-item__drop > a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: var(--dropdown-menu-color);
  &:hover {
    color: var(--accent-color);
  }
}
.menu-item__list {
  width: 245px;
  height: 300px;
  padding: 12px;
  background-color: var(--body-color);
}
.list-item__drop {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}
.menu-item > a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: var(--dropdown-menu-color);
  &:hover {
    color: var(--accent-color);
  }
}
