.heading-2 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.18;
  }

  @media (min-width: 1245px) {
    font-size: 52px;
    line-height: 1.17;
  }
}

.heading-1 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.18;
  }

  @media (min-width: 1245px) {
    font-size: 60px;
    line-height: 1.16;
  }
}
