.hero-content {
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url("../images/hero/hero-bgimage.svg");
  background-repeat: no-repeat;
  background-size: 375px 407px;
  background-position: 50% 0;

  @media (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 173px;
    background-size: 368px 467px;
    background-position: 80% center;
  }

  @media (min-width: 1245px) {
    padding-top: 120px;
    padding-bottom: 173px;
    background-position: 95%;
    background-size: 620px 790px;
  }
}
// .hero-content {
//   padding-top: 20px;
//   padding-bottom: 150px;
//   background-image: url("../images/hero/hero-bgimage.svg");
//   background-repeat: no-repeat;
//   background-size: 375px 407px;
//   background-position: 0 325px;

//   @media (min-width: 768px) {
//     padding-top: 120px;
//     padding-bottom: 173px;
//     background-position: 100% center;
//   }

//   @media (min-width: 1245px) {
//     padding-top: 120px;
//     padding-bottom: 173px;
//     background-position: 95%;
//     background-size: 620px 790px;
//   }
// }
.hero-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    position: relative;
  }
}

.main-description__about {
  max-width: 696px;
  @media (min-width: 768px) {
  }

  @media (min-width: 1245px) {
  }
}

.main-text__bottom {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    max-width: 352px;
    font-size: 14px;
  }
  @media (min-width: 1245px) {
    font-size: 20px;
    width: 350px;
  }
}

.main-text {
  margin-top: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    max-width: 352px;
    font-size: 14px;
  }
  @media (min-width: 1245px) {
    font-size: 20px;
  }
}

.main-description__links {
  margin-top: 16px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.main-description__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 1245px) {
    font-size: 28px;
    line-height: 1.17;
  }
}

.main-description__wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 4px;
  gap: 20px;
  flex-basis: auto;

  @media (min-width: 768px) {
    margin-top: 12px;
    gap: 20px;
  }

  @media (min-width: 1245px) {
    gap: 32px;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.18;
  color: var(--accent-color);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.2;
  }

  @media (min-width: 1245px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.description-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 9px;
  line-height: 1.2;
  color: var(--secondary-color);

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.4;
  }
}
.hero-image {
  position: absolute;
  top: 60px;
  right: 50px;
  max-width: 620px;
  height: 790px;
}
