:root {
  --body-color: #1d1d1d;
  --main-color: #f1f1f1;
  --dropdown-menu-color: #ffffff;
  --secondary-color: #bdbdbd;
  --accent-color: #29aae1;
  --form-inputs-color: #464646;
  --swiper-arrow-color: #ff1616;
  --swiper-navigation-color: #ff1616;
  --swiper-pagination-color: #8e8e8e;
  --swiper-pagination-active-color: #ffffff;
}
